body {
    height: 100vh;
    background-image: url('https://madeirasgasometro.vteximg.com.br/arquivos/ids/168849-1000-1000/mdf-cinza-sagrado-essencial-imagem-01.jpg?v=636655430222730000');
    background-repeat: no-repeat;
    background-size: cover;
}
